<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>#在线云频道#</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <link rel="stylesheet" href="static/dist/app/channel-open.css">
</head>
<body>
<img style="position:absolute;left:-999px;top:-999px" src="static/logo.jpg">
<div class="container">
  <h1>#在线云频道#</h1>
  <form id="form_open" onsubmit="return false">
    <textarea rows="3" name="title" placeholder="频道名称"></textarea>
    <button type="submit">任意进入</button>
  </form>
  <footer>&copy; 2015 <a href="./">在线云频道</a></footer>
</div>

<script src="static/dist/jquery.min.js"></script>
<script src="static/dist/jquery.serializejson.min.js"></script>
<script src="static/dist/lodash.min.js"></script>
<script src="static/dist/app/db.js"></script>
<script>
  var urlPrefix = '{{url_prefix}}'
</script>
<script src="static/dist/app/channel-open.js"></script>

{{#if wxSign}}
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
  wx.config({
    //debug: true,
    appId: '{{wxSign.appId}}',
    timestamp: {{wxSign.timestamp}},
    nonceStr: '{{wxSign.nonceStr}}',
    signature: '{{wxSign.signature}}',
    jsApiList: [
      'checkJsApi',
      'onMenuShareTimeline',
      'onMenuShareAppMessage',
      'onMenuShareQQ',
      'onMenuShareWeibo',
      //'hideMenuItems',
      //'showMenuItems',
      //'hideAllNonBaseMenuItem',
      //'showAllNonBaseMenuItem',
      //'translateVoice',
      //'startRecord',
      //'stopRecord',
      //'onRecordEnd',
      //'playVoice',
      //'pauseVoice',
      //'stopVoice',
      //'uploadVoice',
      //'downloadVoice',
      //'chooseImage',
      //'previewImage',
      //'uploadImage',
      //'downloadImage',
      //'getNetworkType',
      //'openLocation',
      //'getLocation',
      //'hideOptionMenu',
      //'showOptionMenu',
      'closeWindow',
      //'scanQRCode',
      //'chooseWXPay',
      //'openProductSpecificView',
      //'addCard',
      //'chooseCard',
      //'openCard'
    ]
  })
  wx.ready(function() {
    var messageData = {
      title: '#在线云频道#',
      desc: '任意进入，随处粘贴，做信息的同步者',
      link: location.href,
      imgUrl: location.origin + urlPrefix + '/static/logo.jpg',
      trigger: function (res) {
        //alert('用户点击分享到朋友圈');
      },
      success: function (res) {
        //alert('已分享');
      },
      cancel: function (res) {
        //alert('已取消');
      },
      fail: function (res) {
        //alert(JSON.stringify(res));
      }
    }
    var timelineData = _.clone(messageData)
    timelineData.title = '我在这里 #在线云频道#'
    wx.onMenuShareTimeline(timelineData)
    wx.onMenuShareAppMessage(messageData)
    wx.onMenuShareQQ(messageData)
    wx.onMenuShareWeibo(messageData)
  })
</script>
{{/if}}

{{{stats_html}}}
</body>
</html>
