<!DOCTYPE html>
<html>
<head>
  <base href="../">
  <meta charset="utf-8">
  <title>我正在观摩 ##{{topic.title}}##</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <link rel="stylesheet" href="static/dist/app/topic-view.css">
</head>
<body>
<img style="position:absolute;left:-999px;top:-999px" src="static/logo.jpg">
<div class="container">
  <h1>{{topic.title}}</h1>
  <form id="form_comment">
    <div class="input-group">
      <textarea rows="2" name="text" placeholder="参与评论"></textarea>
      <span>
        <button type="submit">发送</button>
      </span>
    </div>
  </form>
  {{#if comments}}
  <ul class="comment-list">
    {{#each comments}}
    {{#if _del}}{{else}}
    <li class="comment-item">
      <div><label>{{floor}}</label></div>
      <div><p>{{text}}</p></div>
    </li>
    {{/if}}
    {{/each}}
  </ul>
  {{else}}
  <aside>居然没人评论</aside>
  {{/if}}
  <footer>&copy; 2015 <a href="./">微信话题墙</a></footer>
</div>
<script src="static/dist/jquery.min.js"></script>
<script src="static/dist/jquery.serializejson.min.js"></script>
<script src="static/dist/lodash.min.js"></script>
<script src="static/dist/app/db.js"></script>
<script>
  var topic = {
    key: '{{topic.key}}',
    title: '{{topic.title}}'
  }
</script>
<script src="static/dist/app/topic-view.js"></script>
</body>
</html>
